spring:
  application:
    name: assembly-service

  profiles:



    active: ${ENV:dev}

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/assembly_db}
    username: postgres
    password: ${PASSWORD_DB:postgres}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: true

  flyway:
    enabled: on

server:
  port: 8080
  forward-headers-strategy: framework

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  endpoint:
    health:
      show-details: always
    metrics:
      access: read_only
    prometheus:
      access: read_only