spring:
  application:
    name: assembly-service

  profiles:
    active: dev

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/assembly_db}
    username: postgres
    password: ${PASSWORD_DB:postgres}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: true

  flyway:
    enabled: true

server:
  port: 8080
  forward-headers-strategy: framework
